<configuration>
  <system.serviceModel>
    <client>
      <endpoint address="http://localhost:8080/zipcodes" binding="wsHttpBinding"
          contract="ZipCodeClient.localhost.IZipCodeService"
          name="BasicHttpBinding_IZipCodeService" 
          behaviorConfiguration="Default"
      />
    </client>
    <behaviors>
      <endpointBehaviors>
        <behavior name="Default">
          <consoleTracing/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <extensions>
      <behaviorExtensions>
        <add name="consoleTracing"
             type="Extensions.ConsoleTracingElement, Extensions, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
      </behaviorExtensions>
    </extensions>
  </system.serviceModel>
</configuration>